.collection {
  height: 200px;
  line-height: 200px;
  background-color: #5a4181;
  margin-bottom: 30px;

  &__title {
    @extend %block, %font-weight-700, %full-width, %full-height;
    font-size: 24px;
    color: white;

    &:hover {
      color: #14d27c;
    }
  }
}