.product {
  background-color: #add8e6;
  height: 200px;
  padding: 15px;
  margin-bottom: 25px;

  &__detail {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
  }

  &__info {
    div,
    ul {
      margin-bottom: 10px;
    }
  }

  &__title {
    @extend %block, %font-weight-600;
  }

  &__price {
    @extend %font-weight-700;

    &--old {
      text-decoration: line-through;
      color: #989898;
      margin-right: 10px;
    }

    &--new {
      color: #e95144;
    }
  }

  &__colors {
    li {
      @extend %inline-block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: 1px solid grey;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &--red {
      background-color: red;
    }

    &--black {
      background-color: black;
    }

    &--blue {
      background-color: blue;
    }

    &--white {
      background-color: white;
    }

    &--yellow {
      background-color: yellow;
    }
  }

  &__info-label {
    @extend %font-weight-700;
    width: 100px;
  }

  &__size {
    li {
      @extend %inline-block, %text-center, %font-weight-700;
      width: 20px;
      height: 20px;
      border: 1px solid grey;

      &:not(:last-child) {
        margin-right: 10px
      }
    }
  }
}