/* Font-family */
$base-font: 'Arial';
$base-font-size: 16;

/* Base font size */
$h1-font-size: 60.5;
$h2-font-size: 38.5;
$h3-font-size: 24;
$text-base-font-size: 22;
$banner-text-base-font-size: 27.5;
$button-base-font-size: 13;
$normal-icon-base-font-size: 27.5;
$social-icon-base-font-size: 22;
$menu-base-font-size: 13;
$form-base-font-size: 22;

/* Extra small font size */
$xs-h1-font-size: 32;
$xs-h2-font-size: 24;
$xs-h3-font-size: 20;
$xs-base-font-size: 16;
$xs-logo-base-font-size: 13;
$xs-form-base-font-size: 14;
$xs-button-base-font-size: 13;
$xs-menu-base-font-size: 13;
$xs-icon-base-font-size: 17;
$xs-text-normal-base-font-size: 16;
$xs-text-upper-wide-base-font-size: 11;
$xs-footer-base-font-size: 13;

/* Small font size */
$sm-h1-font-size: 52;
$sm-h2-font-size: 28;
$sm-form-base-font-size: 15;

/* Large font size */
$lg-h1-font-size: 61;
$lg-h2-font-size: 33;
$lg-h3-font-size: 25;
$lg-form-base-font-size: 18;
$lg-button-base-font-size: 15;
$lg-icon-base-font-size: 20;
$lg-logo-base-font-size: 15;
$lg-menu-base-font-size: 15;
$lg-text-normal-base-font-size: 19;
$lg-text-upper-wide-base-font-size: 13;
$lg-footer-base-font-size: 15;

/* Extra large font size */
$xl-h3-font-size: 31;
$xl-form-base-font-size: 22;
$xl-button-base-font-size: 18;
$xl-icon-base-font-size: 24;
$xl-logo-base-font-size: 18;
$xl-menu-base-font-size: 18;
$xl-text-normal-base-font-size: 23;
$xl-text-upper-wide-base-font-size: 16;
$xl-footer-base-font-size: 18;

/* color names */

$primary-color: #5e42a6;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #008000;
$blue-violet: #765eb3;
$mulberry: #b74e91;
$minsk: #493382;
$port-gore: #312450;

/* element colors */
$main-text-color: rgba(255, 255, 255, 0.55);
$main-bg-color: $primary-color;

$menu-bg-color: $port-gore;

$post-child-1n-bg-color: #5052b5;
$post-child-2n-bg-color: #4c4ead;
$post-child-3n-bg-color: #484aa3;
$what-we-do-bg-color: $mulberry;
$footer-bg-color: $minsk;
