/* Font-family */
$base-font: 'Arial';
$base-font-size: 16;

/* Base font size */
$h1-font-size: 60.5;
$h2-font-size: 38.5;
$h3-font-size: 24;
$text-base-font-size: 22;
$button-base-font-size: 13;
$menu-base-font-size: 13;
$banner-text-base-font-size: 27.5;
$footer-base-font-size: 17.5;

/* Large Devices, Wide Screens */
$lg-h1-font-size: 48;
$lg-h2-font-size: 30;
$lg-h3-font-size: 19;
$lg-text-base-font-size: 17;
$lg-button-base-font-size: 10.5;
$lg-menu-base-font-size: 10.5;
$lg-banner-text-base-font-size: 21.5;
$lg-footer-base-font-size: 14;

/* Medium Devices, Desktops */
$md-h1-font-size: 44;
$md-h2-font-size: 28;
$md-h3-font-size: 17.5;
$md-text-base-font-size: 16;
$md-button-base-font-size: 9.5;
$md-menu-base-font-size: 9.5;
$md-banner-text-base-font-size: 20;
$md-footer-base-font-size: 13;

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */
$xs-h1-font-size: 32;
$xs-h2-font-size: 20;
$xs-h3-font-size: 16;
$xs-banner-text-base-font-size: 16;
$xs-label-base-font-size: 17.6;
$xs-input-base-font-size: 16;

/* Custom, iPhone Retina */
$ip-h1-font-size: 29;
$ip-h2-font-size: 18;
$ip-h3-font-size: 14.5;
$ip-text-base-font-size: 14.5;
$ip-banner-text-base-font-size: 14.5;
$ip-label-base-font-size: 16;
$ip-input-base-font-size: 14.5;
$ip-button-base-font-size: 9;
$ip-menu-base-font-size: 9;
$ip-footer-base-font-size: 11.5;

/* color names */

$primary-color: #5e42a6;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #008000;
$blue-violet: #765eb3;
$mulberry: #b74e91;
$minsk: #493382;
$port-gore: #312450;

/* element colors */
$main-text-color: rgba(255, 255, 255, 0.55);
$main-bg-color: $primary-color;

$menu-bg-color: $port-gore;

$post-child-1n-bg-color: #5052b5;
$post-child-2n-bg-color: #4c4ead;
$post-child-3n-bg-color: #484aa3;
$what-we-do-bg-color: $mulberry;
$footer-bg-color: $minsk;
