$banner-text-base-fs: 10;

.banner {
  &-wrapper {
    @extend %display-flex, %relative;
    @include align-items(center);
    // height: em($base-font-size, 515);
    padding-top: em($base-font-size, 120);
    padding-bottom: em($base-font-size, 60);
    background-image: url("../assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;

    &:before {
      @extend %absolute, %full-width, %full-height, %top-0;
      content: '';
      background-color: $primary-color;
      opacity: 0.85;
    }
  }

  &__text {
    @extend %float-left;
    font-size: em($base-font-size, $banner-text-base-fs);
    padding-bottom: em($banner-text-base-fs, 20);
  }

  &__get-started {

  }
}
