$default-button-fontsize: 14;

.btn {
  @extend %inline-block, %relative, %font-weight-600, %text-uppercase, %transition-ease-out-all;
  @include lineHeight(em($default-button-fontsize, 52));
  font-size: $default-button-fontsize;
  padding-left: em($default-button-fontsize, 22);
  padding-right: em($default-button-fontsize, 22);
  letter-spacing: 4px;
  margin: em($default-button-fontsize, 5);

  &--transparent {
    background-color: transparent;
    @include box-shadow(inset 0 0 0 2px $white);

    @include linkState {
      @extend %cursor-pointer, %transition-ease-out-all;
      @include box-shadow(inset 0 0 0 2px $btn-hover-bg-color);
      color: $btn-hover-bg-color;

      &::after {
        @extend %inline-block;
      }
    }
  }

  &--background {
    background-color: $white;
    color: $primary-color;

    @include linkState {
      @extend %cursor-pointer, %transition-ease-out-all;
      background-color: $btn-hover-bg-color;
    }
  }

  &--next {
    padding-right: em($default-button-fontsize, 58);

    &::before {
      @extend %inline-block;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    }

    &::after {
      @extend %hide;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    }

    &::before,
    &::after {
      @extend %absolute, %full-height, %top-0;
      content: '';
      background-repeat: no-repeat;
      background-position: center right;
      width: em($default-button-fontsize, 36);
      right: em($default-button-fontsize, 10);
    }
  }

}
