.contact {
  &-wrapper {
    @extend %overflow-hidden, %relative;

    &:after {
      @extend %block, %absolute, %bottom-0;
      content: '';
      border-bottom: 1px solid $contact-border-color;
      width: calc(100vw + 3em);
      margin-left: -3em;
    }
  }

  &__form,
  &__info {
    @extend %float-left, %full-width;
  }

  &__form {
    padding-top: em($form-base-font-size, 50);
    padding-bottom: em($form-base-font-size, 50);

    .input__group {
      margin-bottom: em($form-base-font-size, 30);

      &:nth-child(1),
      &:nth-child(2) {
        @extend %float-left;
      }
    }

    .button-group {
      .btn {
        margin-right: em($form-base-font-size, 20);
        margin-bottom: em($base-font-size, 10);
      }
    }
  }

  &__info {
    article {
      @extend %relative;
      padding-top: em($base-font-size, 45);
      padding-left: em($base-font-size, 40);
      padding-bottom: em($base-font-size, 45);

      .fa-icon {
        @extend %absolute;
        top: em($base-font-size, 45);
        left: em($base-font-size, 0);
      }

      &:before {
        @extend %block, %absolute, %top-0;
        content: '';
        border-top: 1px solid $contact-border-color;
        width: calc(100vw + 3em);
        margin-left: -3em;
      }

    }
  }

  &__title {
    @extend %font-weight-700;
    margin-bottom: em($h3-font-size, 14);
  }

  &__data {
    @extend %text-style-normal;
    font-size: em($base-font-size, $contact-info-data-font-size);
    color: $white;
    line-height: 1.5em;
  }

  a#{&}__data {
    border-bottom: 1px dotted $white;

    &:hover {
      color: $contact-link-hover-color;
      border-bottom: 0px;
    }
  }
}
