$logo-base-font-size: 18;

.header {
  height: 75px;
  line-height: 75px;
  padding-left: em($logo-base-font-size, 20);
  padding-right: em($logo-base-font-size, 20);

  .logo {
    @extend %color-white, %font-weight-600, %text-uppercase;
    font-size: em($base-font-size, $logo-base-font-size);
    letter-spacing: em($logo-base-font-size, 5);

    strong {
      color: $logo-text-color;
      background-color: $white;
      padding-top: em($logo-base-font-size, 2);
      padding-bottom: em($logo-base-font-size, 2);
      padding-left: em($logo-base-font-size, 5);
      padding-right: em($logo-base-font-size, 2);
      margin-right: em($logo-base-font-size, 5);
    }
  }
}
