.fa-icon {

  &:before {
    @extend %inline-block, %text-center, %transition-ease-out-all;;
    @include lineHeight(em($icon-base-font-size, 30));
    @include border-radius(em($icon-base-font-size, 30));
    font-size: rem($base-font-size, $icon-base-font-size);
    width: em($icon-base-font-size, 30);
    background-color: $white;
    color: $primary-color;
  }

  @include linkState() {
    &:before {
      @extend %transition-ease-out-all;
      background-color: $anakiwa;
    }
  }
}
