.major {
  margin-bottom: em($base-font-size, 30);

  &__title {
    @extend %font-weight-700;
    border-bottom: 2px solid $white;
    width: calc(100% + 0.5em);
    padding-bottom: 0.7em;
  }

  &__content {
    @extend %text-uppercase, %font-weight-600;
  }
}
