$massa-base-font-size: 14;

.massa {

  &__wrapper {
    padding-top: em($base-font-size, 50);
    padding-bottom: em($base-font-size, 30);
    background-color: $massa-bg-color;
  }

  &__content {
    font-size: em($base-font-size, $massa-base-font-size);
    line-height: em($massa-base-font-size, 22);
    margin-top: em($massa-base-font-size, 10);
    margin-bottom: em($massa-base-font-size, 30);
  }
}
