.tiles {
  @extend %overflow-hidden;
}

.tile {

  &__wrapper {
    @extend %float-left, %overflow-hidden, %relative, %display-flex, %align-items-center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: em($base-font-size, 290);
    width: 100%;

    &:before {
      @extend %absolute, %full-width, %full-height, %transition-ease-out-all, %top-0;
      content: '';
      opacity: 0.85;
    }

    &:hover {
      @extend %cursor-pointer;

      &:before {
        @extend %transition-ease-out-all, %cursor-pointer;
        opacity: 0;
      }
    }

    // apply background image and background color for tiles
    $index: 1;
    @each $item in $tiles-bg-colors-list {
      &:nth-child(#{$index}) {
        background-image: url("../assets/images/#{nth($item, 2)}");

        &:before {
          background-color: #{nth($item, 1)};
        }
      }

      $index: $index + 1;
    }
  }

  &__inner {
    @extend %relative;
    z-index: 10;
    padding-left: em($base-font-size, 24);
    padding-right: em($base-font-size, 24);
  }
}
