doctype html
html(lang='en')
  head
    title Forty
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //styles
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
  body
    .wrapper
      .main
        p.text--upper-special Welcome
        p.text--upper-special Who we are
        h2.text__title What we do
        p Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.
        a.btn(href="#") Send Message

    //scripts
