doctype html
html(lang='en')
  head
    title Jade
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    include layouts/header
    .board-detail
      .board-header
        h2.board-title A board
      .board-content
        .list
          .list-title Feature
          .cards
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder
        .list
          .list-title Bugfix
          .cards
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder

        .list
          .list-title Finished
          .cards
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder

        .list
          .list-title Feature
          .cards
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder

        .list
          .list-title Feature
          .cards
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder

        .list
          .list-title Feature
          .cards
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder

        .list
          .list-title Feature
          .cards
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree
            .card
              h3.card-title Self training
            .card
              h3.card-title Document comparison
            .card
              h3.card-title Tree folder
