doctype html
html(lang='en')
  head
    title Jade
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    include layouts/header
    .board-details
      .list
        .list-title Feature
        .card
          h3.card-title Self training
        .card
          h3.card-title Document comparison
        .card
          h3.card-title Tree
        .card
          h3.card-title Self training
        .card
          h3.card-title Document comparison
        .card
          h3.card-title Tree
        .card
          h3.card-title Self training
        .card
          h3.card-title Document comparison
        .card
          h3.card-title Tree folder
      .list
        .list-title Bugfix
        .card
          h3.card-title Self training
        .card
          h3.card-title Document comparison
        .card
          h3.card-title Tree folder

      .list
        .list-title Finished
        .card
          h3.card-title Self training
        .card
          h3.card-title Document comparison
        .card
          h3.card-title Tree folder
