doctype html
html(lang='en')
  head
    title Jade
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body(style="background-color: white")
    include layouts/header
    .container
      section.board-section
        h2.board-section-starred
          i.fa.fa-star-o
          |  Starred Boards
        .row
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-tile.board-starred
              a.title(href="/board-detail.html") A board
              span.star
                i.fa.fa-star-o
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-tile.board-starred
              a.title(href="/board-detail.html") A board
              span.star
                i.fa.fa-star-o

      section.board-section
        h2.board-section-starred
          i.fa.fa-user-o
          |  Personal Boards
        .row
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-tile.board-starred
              a.title(href="/board-detail.html") A board
              span.star
                i.fa.fa-star-o
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-tile
              a.title(href="/board-detail.html") A board
              span.star
                i.fa.fa-star-o
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-tile.board-starred
              a.title(href="/board-detail.html") A board
              span.star
                i.fa.fa-star-o
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-tile
              a.title(href="/board-detail.html") A board
              span.star
                i.fa.fa-star-o
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-tile
              a.title(href="/board-detail.html") A board
              span.star
                i.fa.fa-star-o
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .board.board-mod-add
              a.title(href="/board-detail.html") Create new board...

