doctype html
html(lang='en')
  head
    title Jade
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    include layouts/header
    .container-fluid
      .row
        include layouts/board
        include layouts/board
        include layouts/board
        include layouts/board
        include layouts/board
        include layouts/board
        include layouts/board
