/* Basic definitions */
body {
  @extend %cl-default, %source-sans-pro, %bgc-default;
  font-size: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @extend %no-margin, %no-padding;
  font-weight: normal;
}

h1 {
  font-size: em($base-font-size, 74);
}

h2 {
  font-size: em($base-font-size, 57);
}

h3 {
  font-size: em($base-font-size, 40);
}

h4 {
  font-size: em($base-font-size, 23);
}

h5 {
  font-size: em($base-font-size, 18);
}

h6 {
  font-size: em($base-font-size, 14);
}

a {
  @extend %no-text-decoration;

  &,
  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  a:visited {
    outline: 0 !important;
    outline-style: none;
  }
}

ul {
  @extend %no-list-style, %no-padding, %no-margin;
}

label {
  font-weight: normal;
}

address {
  font-style: normal;
}
