doctype html
html(lang='en')
  head
    title Ella
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //styles
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
  body
    .wrapper
      include layouts/header

      .main
        .container
          .hero All articles
          .blog-list
            .blog
              h2
                a.blog__title(href="#") Lorem ispum sada.
              p.blog__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus leo, elementum in malesuada an darius ut augue. Cras sit amet lectus et justo feugiat euismod sed non erat. Nulla non felis id metus bibendum iaculis quis sit amet eros. Nam suscipit mollis tellus vel malesuada. Duis dan molestie, sem in sollicitudin sodales, mi justo sagittis est, id consequat ipsum ligula a ante. Pellentesque sapien dui, miverra et commodo id ductus id est. Cras eu tempor eros donec ut porttitor lacus, nec ullamcorper massa maecenas eu nulla nisl. Destibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.
            .blog
              h2
                a.blog__title(href="#") Lorem ispum sada.
              p.blog__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus leo, elementum in malesuada an darius ut augue. Cras sit amet lectus et justo feugiat euismod sed non erat. Nulla non felis id metus bibendum iaculis quis sit amet eros.
            .blog
              h2
                a.blog__title(href="#") Lorem ispum sada.
              p.blog__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus leo, elementum in malesuada an darius ut augue. Cras sit amet lectus et justo feugiat euismod sed non erat. Nulla non felis id metus bibendum iaculis quis sit amet eros. Nam suscipit mollis tellus vel malesuada.

      include layouts/footer
    //scripts
