doctype html
html(lang='en')
  head
    title Ella
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //styles
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
  body
    .wrapper
      include layouts/header

      .main
        .container
          .hero Men collection
          .row
            .col-md-3
              .product.text-center
                a.product__title(href="/product.html") Ex sonet dolore
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--black
                  li.product__colors--blue
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="/product.html") Ei cetero efficiendi eloquentiam mel,
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--yellow
                  li.product__colors--blue
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="/product.html") pro id singulis tincidunt
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--blue
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="/product.html") ullamcorper no
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
            .col-md-3
              .product.text-center
                a.product__title(href="/product.html") Lorem ipsum dolor sit amet
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--black
                  li.product__colors--yellow
            .col-md-3
              .product.text-center
                a.product__title(href="/product.html") erroribus abhorreant
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--white
      include layouts/footer
    //scripts
