doctype html
html(lang='en')
  head
    title Ella
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //styles
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
  body
    .wrapper
      .main
        nav#navbar-example.navbar.navbar-default.navbar-static
          .container-fluid
            .navbar-header
              button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-example-js-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Project Name
            .collapse.navbar-collapse.bs-example-js-navbar-collapse
              ul.nav.navbar-nav
                li.dropdown
                  a#drop1.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Dropdown 
                    span.caret
                  ul.dropdown-menu(aria-labelledby='drop1')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li
                      a(href='#') Separated link
                li.dropdown
                  a#drop2.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Dropdown 
                    span.caret
                  ul.dropdown-menu(aria-labelledby='drop2')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li
                      a(href='#') Separated link
              ul.nav.navbar-nav.navbar-right
                li#fat-menu.dropdown
                  a#drop3.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Dropdown 
                    span.caret
                  ul.dropdown-menu(aria-labelledby='drop3')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li
                      a(href='#') Separated link

    //scripts
