doctype html
html(lang='en')
  head
    title Ella
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //styles
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
  body
    .wrapper
      nav#navbar-example.navbar.navbar-default.navbar-static
        .container-fluid
          .navbar-header
            button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-example-js-navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') MinMinShop
          .collapse.navbar-collapse.bs-example-js-navbar-collapse
            ul.nav.navbar-nav
              li.dropdown
                a#drop1.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Collections
                  span.caret
                ul.dropdown-menu(aria-labelledby='drop1')
                  li
                    a(href='#') Men
                  li
                    a(href='#') Women
                  li
                    a(href='#') Shoes
                  li
                    a(href='#') Accessories
                  li
                    a(href='#') Editor's pick
              li.dropdown
                a#drop2.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                  span.caret
                ul.dropdown-menu(aria-labelledby='drop2')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider(role='separator')
                  li
                    a(href='#') Separated link
            ul.nav.navbar-nav.navbar-right
              li#fat-menu.dropdown
                a#drop3.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                  span.caret
                ul.dropdown-menu(aria-labelledby='drop3')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider(role='separator')
                  li
                    a(href='#') Separated link

      .main
        .container
          .row.collection-wrapper
            .col-md-4
              .collection.text-center
                a.collection__title(href="") Editor's pick
            .col-md-4
              .collection.text-center
                a.collection__title(href="") Shoes
            .col-md-4
              .collection.text-center
                a.collection__title(href="") Accessories

          .row.product-wrapper
            .col-md-3
              .product.text-center
                a.product__title(href="#") Ex sonet dolore
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--black
                  li.product__colors--blue
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="#") Ei cetero efficiendi eloquentiam mel,
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--yellow
                  li.product__colors--blue
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="#") pro id singulis tincidunt
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--blue
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="#") ullamcorper no
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
            .col-md-3
              .product.text-center
                a.product__title(href="#") Lorem ipsum dolor sit amet
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--black
                  li.product__colors--yellow
            .col-md-3
              .product.text-center
                a.product__title(href="#") erroribus abhorreant
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="#")  Per zril quando officiis
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--black
                  li.product__colors--white
            .col-md-3
              .product.text-center
                a.product__title(href="#") at facer nobis corpora, me
                .product__price
                  span.product__price--old $24.99
                  span.product__price--new $19.99
                ul.product__colors
                  li.product__colors--red
                  li.product__colors--black
                  li.product__colors--blue
                  li.product__colors--white

          .show-more.text-center.text-uppercase
            a.btn.btn-lg.btn-default.text-center(href="#") Show more
    //scripts
