doctype html
html(lang='en')
  head
    title Ella
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //styles
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
  body
    .wrapper
      include layouts/header

      .main
        .container
          .row.collection-wrapper
            .col-md-4
              .collection.text-center
                a.collection__title(href="/collection.html") Editor's pick
            .col-md-4
              .collection.text-center
                a.collection__title(href="/collection.html") Shoes
            .col-md-4
              .collection.text-center
                a.collection__title(href="/collection.html") Accessories
            .col-md-4
              .collection.text-center
                a.collection__title(href="/collection.html") Men
            .col-md-4
              .collection.text-center
                a.collection__title(href="/collection.html") Women
            .col-md-4
              .collection.text-center
                a.collection__title(href="/collection.html") Summer
            .col-md-4
              .collection.text-center
                a.collection__title(href="/collection.html") Winter
      include layouts/footer
    //scripts
