nav#navbar-example.navbar.navbar-default.navbar-static.header
  .container-fluid
    .navbar-header
      button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-example-js-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.logo(href='/index.html') MinMinShop
    .collapse.navbar-collapse.bs-example-js-navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a#drop1.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Collections
            span.caret
          ul.dropdown-menu(aria-labelledby='drop1')
            li
              a(href='/list-collection.html') All collections
            li
              a(href='#') Men
            li
              a(href='#') Women
            li
              a(href='#') Shoes
            li
              a(href='#') Accessories
            li
              a(href='#') Editor's pick
        li.dropdown
          a#drop2.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Blog
            span.caret
          ul.dropdown-menu(aria-labelledby='drop2')
            li
              a(href='/blog.html') All articles
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider(role='separator')
            li
              a(href='#') Separated link
        form.navbar-form.navbar-left(role='search')
          .form-group
            input.form-control(type='text', placeholder='Search')
          //- button.btn.btn-default(type='submit') Search
          a.btn.btn-default(href="/search.html") Search


      ul.nav.navbar-nav.navbar-right
        li#fat-menu.dropdown
          a#drop3.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | User
            span.caret
          ul.dropdown-menu(aria-labelledby='drop3')
            li
              a(href='/cart.html') Cart
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider(role='separator')
            li
              a(href='#') Separated link