.max-content {
  @include maxContent();
}

.min-content {
  @include minContent();
}

.text-upper-wide {
  @extend %font-weight-600;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 1.5em;
}

.wrapper
{
    @extend %relative;
    .container
    {
        width: calc(100% - 3em);
        max-width: 90em;
        margin: 0 auto;
        z-index: 100;
    }
}
