.max-content {
  @include maxContent();
}

.min-content {
  @include minContent();
}

.text-upper-wide {
  @extend %font-weight-600;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 1.5em;
}

.clear-both {
  clear: both;
}

.wrapper
{
  @extend %relative;
  .container
  {
    @extend %overflow-hidden;
    width: calc(100% - 3em);
    max-width: 90em;
    margin: 0 auto;
    z-index: 100;
  }
}
