.max-content {
  @include maxContent();
}

.min-content {
  @include minContent();
}

.clear-both {
  clear: both;
}

.unhoverable {
  @extend %no-pointer-events;
}

.wrapper
{
  @extend %relative;
  .container
  {
    @extend %overflow-hidden, %relative;
    width: calc(100% - 3em);
    max-width: 90em;
    margin: 0 auto;
    z-index: 10;
  }
}
