//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------
// $icon-font-path: '../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

/* Font-family */
$source-sans-pro: 'Source Sans Pro';

/* Base font size */
$h1-font-size: 30;
$h2-font-size: 22;
$h3-font-size: 18;
$base-font-size: 16;
$form-base-font-size: 14;
$icon-base-font-size: 16;
$logo-base-font-size: 12;
$button-base-font-size: 11;
$menu-base-font-size: 12;
$text-normal-base-font-size: 14;
$text-upper-wide-base-font-size: 10;
$footer-base-font-size: 12;

/* Extra small font size */
$xs-h1-font-size: 32;
$xs-h2-font-size: 24;
$xs-h3-font-size: 20;
$xs-base-font-size: 16;
$xs-logo-base-font-size: 13;
$xs-form-base-font-size: 14;
$xs-button-base-font-size: 13;
$xs-menu-base-font-size: 13;
$xs-icon-base-font-size: 17;
$xs-text-normal-base-font-size: 16;
$xs-text-upper-wide-base-font-size: 11;
$xs-footer-base-font-size: 13;

/* Small font size */
$sm-h1-font-size: 52;
$sm-h2-font-size: 28;
$sm-form-base-font-size: 15;

/* Large font size */
$lg-h1-font-size: 61;
$lg-h2-font-size: 33;
$lg-h3-font-size: 25;
$lg-form-base-font-size: 18;
$lg-button-base-font-size: 15;
$lg-icon-base-font-size: 20;
$lg-logo-base-font-size: 15;
$lg-menu-base-font-size: 15;
$lg-text-normal-base-font-size: 19;
$lg-text-upper-wide-base-font-size: 13;
$lg-footer-base-font-size: 15;

/* Extra large font size */
$xl-h3-font-size: 31;
$xl-form-base-font-size: 22;
$xl-button-base-font-size: 18;
$xl-icon-base-font-size: 24;
$xl-logo-base-font-size: 18;
$xl-menu-base-font-size: 18;
$xl-text-normal-base-font-size: 23;
$xl-text-upper-wide-base-font-size: 16;
$xl-footer-base-font-size: 18;

/* color names */

$primary-color: #242943;
$secondary-color: #2a2f4a;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #008000;
$anakiwa: #9bf1ff;
$martinique: #353955;
$oxford-blue: #363a56;
$ebony-clay: #222842;

/* element colors */
$main-text-color: $white;
$main-bg-color: $primary-color;
$header-bg-color: $secondary-color;
$logo-bg-color: $white;
$logo-text-color: $primary-color;
$menu-bg-color: $ebony-clay;
$menu-border-bottom-color: $oxford-blue;
$menu-item-hover-color: $anakiwa;
$btn-hover-bg-color: $anakiwa;
$tiles-bg-colors-list: (
  (#6fc3df, "pic01.jpg"),
  (#8d82c4, "pic02.jpg"),
  (#ec8d81, "pic03.jpg"),
  (#e7b788, "pic04.jpg"),
  (#8ea9e8, "pic05.jpg"),
  (#87c5a4, "pic06.jpg")
);
$spotlight-odd-bg-color: #2e3450;
$spotlight-even-bg-color: #333856;
$generic-bg-color: $primary-color;
$massa-bg-color: $secondary-color;
$form-input-bg-color: $secondary-color;
$form-input-hover-bg-color: $anakiwa;
$contact-border-color: $martinique;
$contact-link-hover-color: $anakiwa;
$footer-link-color: $anakiwa;
$footer-main-text-color: #374860;
