//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------
// $icon-font-path: '../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

/* Font-family */
$source-sans-pro: 'Source Sans Pro';

/* Font size */
$base-font-size: 16;

/* Main color */

$primary-color: #242943;
$secondary-color: #2a2f4a;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$green: #008000;

/* Base colors */
$main-text-color: $white;
$main-bg-color: $primary-color;
$header-bg-color: $secondary-color;
$logo-bg-color: $white;
$logo-text-color: $primary-color;
$btn-hover-bg-color: #9bf1ff;
