doctype html
html(lang='en')
  head
    title Forty
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
  body
    .wrapper
      include layouts/modules/header.pug
      include layouts/modules/banner.pug

      .main
        include layouts/modules/tiles.pug
        include layouts/modules/massa.pug

      include layouts/modules/contact.pug
      include layouts/modules/footer.pug

    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    script(src="assets/script/main.js")
