doctype html
html(lang='en')
  head
    title Forty
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //if lte IE 8
      script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body
    .wrapper
      include layouts/modules/header.pug

      include layouts/modules/banner.pug

      .main
        include layouts/modules/tiles.pug

        section.massa__wrapper
          .container
            h2.massa__title Massa libero
            p.massa__content Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
            a.massa__get-started.btn.btn--transparent.btn--next Get started
            a.massa__get-started.btn.btn--background Get started

        section.contact__wrapper
          .container
            include layouts/modules/forms.pug
          .contact-info

    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    // if lte IE 8
      script(src="assets/script/respond.min.js")
    script(src="assets/script/main.js")





