doctype html
html(lang='en')
  head
    title Forty
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    header
      h1 Logo
        a.logo(href="#")
          strong Forty
          span by Html5 up
      nav(style="display:none;")

    section.banner-wrapper
      .container
        header.banner__header
          h2 Hi, my name is Forty
        .banner__content
          p.banner__text A responsive site template designed by html5 up and released under the creative commons.
          a.banner__get-started.get-started Get started

    .main
      section.tiles
        article.tile__wrapper
          .tile__inner
            h3.tile__title Aliquam
            p.tile__content Ipsum dolor sit amet
        article.tile__wrapper
          .tile__inner
            h3.tile__title Tempus
            p.tile__content Feugiat amet tempus
        article.tile__wrapper
          .tile__inner
            h3.tile__title Magna
            p.tile__content Lorem etiam nullam
        article.tile__wrapper
          .tile__inner
            h3.tile__title Ipsum
            p.tile__content Ipsum dolor sit amet
        article.tile__wrapper
          .tile__inner
            h3.tile__title Consequat
            p.tile__content Ipsum dolor sit amet
        article.tile__wrapper
          .tile__inner
            h3.tile__title Etiam
            p.tile__content Ipsum dolor sit amet

      section.massa__wrapper
        .container
          h2.massa__title Massa libero
          p.massa__content Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
          a.massa__get-started.btn.btn--transparent.btn__next Get started
          a.massa__get-started.btn.btn--background Get started

      section.contact__wrapper
        .container
          form.contact-form


          .contact-info




