section#banner.banner-wrapper(data-velocity="-.3")
  .container
    .banner__inner
      .major
        h1.banner__header.major__title Hi, my name is Forty
      .banner__content
        p.text--upper-wide.banner__text.major__content A responsive site template designed by html5 up and released under the creative commons.
        a.banner__get-started.btn.btn--transparent.btn--next Get started
