section.banner-wrapper
  .container.tile__inner
    h1.banner__header.tile__title Hi, my name is Forty
    .banner__content
      p.banner__text.tile__content A responsive site template designed by html5 up and released under the creative commons.
      a.banner__get-started.btn.btn--transparent.btn--next Get started
