footer.footer
  .container
    ul.socials
      li
        a.fa.fa-twitter.fa-icon(href="#")
      li
        a.fa.fa-facebook.fa-icon(href="#")
      li
        a.fa.fa-instagram.fa-icon(href="#")
      li
        a.fa.fa-github.fa-icon(href="#")
      li
        a.fa.fa-linkedin.fa-icon(href="#")

    ul.copyright
      li
        | &copy; Untitled
      li
        | Design:&nbsp;
        a(href="html5up.net") HTML5 UP
      li
        | Demo Images:&nbsp;
        a(href="#") Unsplash

