form.form.contact-form
  .input__group
    label.input__title Name
    input.input__control(type="text", name="name", required)
  .input__group
    label.input__title Email
    input.input__control(type="email", name="email", required)
  .input__group
    label.input__title Message
    textarea.input__control(required)
  .button-group
    button.btn.btn--background(type="submit") Send messages
    button.btn.btn--transparent(type="button") Clear
