section#banner.banner-wrapper(data-velocity="-.3")
  .container
    .banner__inner
      .major
        h1.banner__header.major__title Landing
      .banner__content
        p.text--upper-wide.banner__text.major__content Lorem ipsum dolor sit amet nullam consequat sed veroeros. tempus adipiscing nulla.
