.menu
  .menu__inner
    ul.menu__link
      li
        a.menu__item.text-upper-wide Home
      li
        a.menu__item.text-upper-wide Landing
      li
        a.menu__item.text-upper-wide Generic
      li
        a.menu__item.text-upper-wide Elements
    ul.menu__action
      li
        a.menu__item.btn.btn--background(href="#") Get started
      li
        a.menu__item.btn.btn--transparent(href="#") Log in
