#menu.menu
  a.menu__close-btn
  .menu__inner
    ul.menu__link
      li
        a.menu__item.text--upper-wide(href="index.html", target="") Home
      li
        a.menu__item.text--upper-wide(href="landing.html", target="") Landing
      li
        a.menu__item.text--upper-wide(href="index.html", target="") Generic
      li
        a.menu__item.text--upper-wide(href="index.html", target="") Elements
    ul.menu__action
      li
        a.menu__item.btn.btn--background(href="#") Get started
      li
        a.menu__item.btn.btn--transparent(href="#") Log in
