section.spotlights
  .spotlight__wrapper
    .spotlight__image
      img(src="assets/images/pic08.jpg", width="556", height="500")
    .spotlight__content
      .spotlight__content-inner
        .major.max-content
          h3.massa__title.major__title Orci maecenas
        p.massa__content Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.
        a.massa__get-started.btn.btn--transparent.btn--next Learn more
  .spotlight__wrapper
    .spotlight__content
      .spotlight__content-inner
        .major.max-content
          h3.massa__title.major__title Rhoncus magna
        p.massa__content Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.
        a.massa__get-started.btn.btn--transparent.btn--next Learn more
    .spotlight__image
      img(src="assets/images/pic09.jpg", width="556", height="500")
  .spotlight__wrapper
    .spotlight__image
      img(src="assets/images/pic10.jpg", width="556", height="500")
    .spotlight__content
      .spotlight__content-inner
        .major.max-content
          h3.massa__title.major__title Sed nunc ligula
        p.massa__content Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.
        a.massa__get-started.btn.btn--transparent.btn--next Learn more
