section.tiles
  article.tile__wrapper
    .tile__inner
      .major
        h3.major__title Aliquam
      p.major__content.text-upper-wide Ipsum dolor sit amet
  article.tile__wrapper
    .tile__inner
      .major
        h3.major__title Tempus
      p.major__content.text-upper-wide Feugiat amet tempus dolor sit
  article.tile__wrapper
    .tile__inner
      .major
        h3.major__title Magna
      p.major__content.text-upper-wide Lorem etiam nullam
  article.tile__wrapper
    .tile__inner
      .major
        h3.major__title Ipsum
      p.major__content.text-upper-wide Ipsum dolor sit amet
  article.tile__wrapper
    .tile__inner
      .major
        h3.major__title Consequat
      p.major__content.text-upper-wide Ipsum dolor sit amet
  article.tile__wrapper
    .tile__inner
      .major
        h3.major__title Etiam
      p.major__content.text-upper-wide Ipsum dolor sit amet
