section.tiles
  article.tile__wrapper
    .tile__inner
      h3.tile__title Aliquam
      p.tile__content Ipsum dolor sit amet
  article.tile__wrapper
    .tile__inner
      h3.tile__title Tempus
      p.tile__content Feugiat amet tempus dolor sit
  article.tile__wrapper
    .tile__inner
      h3.tile__title Magna
      p.tile__content Lorem etiam nullam
  article.tile__wrapper
    .tile__inner
      h3.tile__title Ipsum
      p.tile__content Ipsum dolor sit amet
  article.tile__wrapper
    .tile__inner
      h3.tile__title Consequat
      p.tile__content Ipsum dolor sit amet
  article.tile__wrapper
    .tile__inner
      h3.tile__title Etiam
      p.tile__content Ipsum dolor sit amet
