/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .tile {
    &__wrapper {
      height: em($base-font-size, 256);
      width: 50%;
    }
  }

  .footer {
    .copyright {
      & > li {
        float: left;

        &:not(:last-child) {
          border-right: 1px solid $footer-main-text-color;
          padding-right: em($footer-base-font-size, 20);
          margin-right: em($footer-base-font-size, 20);
        }
      }
    }
  }

}
