/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .menu {
    &__inner {
      width: em($base-font-size, 288);
    }

    &__link,
    &__action {
      a.menu__item {
        font-size: em($base-font-size, $xs-menu-base-font-size);
      }
    }
  }

  .header {
    .logo {
      span {
        display: inline-block;
      }
    }
    nav {
      a.menu-btn {
        font-size: em($base-font-size, $xs-menu-base-font-size);
        padding-right: em($xs-menu-base-font-size, 80);
        padding-left: em($xs-menu-base-font-size, 10);
        text-indent: 0;
      }
    }
  }

  .tile {
    &__wrapper {
      height: em($base-font-size, 256);
      width: 50%;
    }
  }

  .spotlight {
    &__content {

      .massa {
        &__content {
          font-size: em($base-font-size, $xs-spotlight-content-base-font-size);
        }
      }
    }
  }

  .massa {
    &__content {
      font-size: em($base-font-size, $xs-massa-base-font-size);
    }
  }


  .contact {
    &__form {
      .input__group {
        &:nth-child(1) {
          padding-right: em($base-font-size, 15);
        }
        &:nth-child(2) {
          padding-left: em($base-font-size, 15);
        }
        &:nth-child(1),
        &:nth-child(2) {
          width: 50%;
        }
      }

      .button-group {
        .btn {
          margin-right: em($form-base-font-size, 20);
        }
      }
    }

    &__data {
      font-size: em($base-font-size, $xs-contact-info-data-font-size);
    }
  }

  .footer {
    .copyright {
      & > li {
        float: left;

        &:not(:last-child) {
          border-right: 1px solid $footer-main-text-color;
          padding-right: em($footer-base-font-size, 20);
          margin-right: em($footer-base-font-size, 20);
        }
      }
    }
  }

}
