/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  h1 {
    font-size: rem($base-font-size, $xs-h1-font-size);
  }

  h2 {
    font-size: rem($base-font-size, $xs-h2-font-size);
  }

  h3 {
    font-size: rem($base-font-size, $xs-h3-font-size);
  }

  p {
    font-size: rem($base-font-size, 11);
  }

  .header {
    @include lineHeight(em($base-font-size, 44));
    .logo {
      font-size: em($base-font-size, $xs-logo-base-font-size);
    }
  }

  .form {
    .input {
      &__group {
        font-size: rem($base-font-size, $xs-form-base-font-size);
      }
    }
  }

  .btn {
    font-size: rem($base-font-size, $xs-button-base-font-size);
  }

  .fa-icon {

    &:before {
      font-size: rem($base-font-size, $xs-icon-base-font-size);
    }
  }

  .footer {
    .copyright {
      & > li {
        font-size: em($base-font-size, $xs-footer-base-font-size);
      }
    }
  }

  .contact {
    &__info {
      article {
        padding-left: em($base-font-size, 50);
      }
    }
  }
}
