//
// Bootstrap-sass-official
// ----------------------------------------------------------------------------------------------------
// $icon-font-path: '../../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

/* Font-family */
$helvetica-neue-regular: 'HelveticaNeue';
$helvetica-neue-bold: 'HelveticaNeue-Bold';
$helvetica-neue-medium: 'HelveticaNeue-Medium';
$helvetica-neue-light: 'HelveticaNeue-Light';

/* Font size */
$base-font-size: 16;

/* Main color */

$main-red: #f05450;
$main-green: #8fd651;
$black: #000000;
$white: #ffffff;

/* Base colors */
$celeste: #ccc;
$main-text-color: #4d4d4d;
$main-header-bg-color: #0067A3;
$main-header-logo-color: #80b4d3;
$main-bg-color: #0079BF;
$btn-bg-color: #4C94BE;
$board-bg-color: #E2E4E6;
$board-section-title-icon-color: #999999;
$board-mod-add-bg-color: #e2e4e6;
$board-starred-color: yellow;
$list-title-color: #505050;
